<div class="app-card-container">
	<div class="card">
		<h1>About Me</h1>

		<hr>

		<div class="row">
			<div class="col-md-4">

				<%= image_tag "bp_profile_image", size: "280x280", alt: "Profile Image", class: 'profile-image' %>
			</div>
			<div class="col-md-8">
				<p>I am a freelance designer of web applications and electonics.</p>
			</div>
		</div>
	</div>


</div>

