<h1>My Contact Details</h1>

<p><%= number_to_phone("5555555555", pattern: /(\d{2})(\d{4})(\d{4})$/, :delimiter => " ", area_code: true) %></p>

<p><%= number_to_currency "9150" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "37264782639" %></p>
