<main role="main" class="inner cover">
	<br>
	<h1 class="cover-heading">My Portfolio Site</h1>
	<br>
	<p class="lead">
			<span id="typed-sentence"></span>

			<br>
			<br>
			<br>

  		<%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
	</p>
</main>

